AUTOMATION_NAME=UiAutomator2
PLATFORM_NAME=Android
PLATFORM_VERSION=13
APP=test/android/app/Klik Indomaret Xtra_1.3.11_Apkpure.apk
DEVICE_NAME=es4bi99ukwot44pby
APP_WAIT_PACKAGE=edts.klik.android

PHONE_NUMBER_VALID =
PASSWORD_VALID =